h2{
    background-color:bisque;
    color:chocolate;
}

#p1{
    background-color: bisque;
    color:chocolate;
   
}

#p{
    background-color: bisque;
    color:chocolate
}

ul{
    color:aqua;
}

details{
     color:blueviolet;
}

footer{
    background-color:goldenrod;
    color:brown;
}
